#box {
    width: 500px;
    height: 500px;
    margin-top: 60px;
}

#center {
    padding-left: 300px;
    padding-right: 300px;
    padding-top: 40px;
    background-color: antiquewhite;
    width: 600px;
    height: 500px;
    margin: auto;
    margin-top: 150px;
    display: flex; /* Added this line */
    align-items: center;
    justify-content: center;
}

#imagediv {
    margin: auto;
    display: inline;
}

#img {
    width: 300px;
    margin: auto;
    display: flex;
}

.text {
    display: inline;
    display: flex;
    width: fit-content;
    margin: 0%;
}